<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">

    {% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">

    <!-- Custom CSS stylesheet-->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> -->
</head>
<body>
    <!-- Navbar -->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="/">Contract Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if request.session.user_id == None %}
          <a class="navbar-nav mr-auto nav-link disabled" href="/users"></a>
          <a class="navbar-nav mr-lg-2 nav-link" href="/login">Signin</a>
        {% else %}
          <a class="navbar-nav mr-auto nav-link" href="#"></a>
          <a class="navbar-nav mr-sm-0 nav-link" href="#">{{user.first_name}} {{user.last_name}} (admin)</a>
          <a class="navbar-nav mr-sm-0 nav-link" href="/logout">Logoff</a>
        {% endif %}
        </div>
      </nav>
    
      
    <div class="container">
        <div class="row top_row">
          <div class="col-12 text-center">
            <h1>{{contract.trip_number}}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <button class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#edit_contract">Update Contract</button>
          </div>
          <div class="col-12 text-center">
            {% if contract.archived == False %}
            <button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#archive_contract">Archive Contract</button>
            {% else %}
            <button class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#archive_contract">Restore Contract</button>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class ="col-12 table_nav">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Details</a>
              </li>
              
                <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Comments</a>
              </li>
            </ul>
  
            <div class="tab-content" id="myTabContent">
              <!-- Details  -->
              <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
                <h5>Contracted created: {{contract.created_at}}</h5>
                <h5>Last edited: {{contract.updated_at}}</h5>
                <h5>Status: {{contract.status}}</h5>
                <h5>Carrier Cost: {{contract.carrier_cost}}</h5>
                <h5>Customer Price:{{contract.customer_price}}</h5>
                <h5>Customer: {{contract.customer.name}}</h5>
                <h5>Carrier: {{contract.carrier.name}}</h5>
                <h5>Pick Up Time: {{contract.pick_up_time}}</h5>
                <h5>Delivery Time: {{contract.delivery_time}}</h5>                
                <h5>Start Point: {{contract.route.start.street}}, {{contract.route.start.city}} {{contract.route.start.state}} {{contract.route.start.zip_code}}</h5>
                <h5>End Point: {{contract.route.end.street}}, {{contract.route.end.city}} {{contract.route.end.state}} {{contract.route.end.zip_code}}</h5>
              </div>
              
              
              <!-- Comments -->
              <div class="tab-pane fade table-header" id="comments" role="tabpanel" aria-labelledby="comments-tab">
                <table class="table table-sm table-hover table-striped table-bordered table-responsive-lg" id="comments_datatable">
                  <thead class = "thead-light">
                    <tr>
                      <th>User</th>
                      <th>Date</th>
                      <th>Comment</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for comment in comments %}
                    <tr>
                      <td>{{comment.user.first_name}} {{comment.user.last_name}}</td>
                      <td>{{comment.created_at}}</td>
                      <td>{{comment.content}}</td>
                    </tr>
                    <!-- <p>On {{comment.created_at}}, {{comment.user.first_name}} {{comment.user.last_name}} said: {{comment.content}}</p> -->
                    {% endfor %}
                  </tbody>
                </table>
                <button class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#add_comment">Add Comment</button>
              </div>
            </div>
          </div>
        </div>
      </div>
          



    


    </div>
    <!-- Modal -->
    <div class="modal fade text-left" id="edit_contract" tabindex="-1" role="dialog" aria-labelledby="edit_contract_modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="edit_contract_modal">Edit Contract</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form enctype="multipart/form-data" action="/dashboard/edit_contract/{{contract.id}}" method="POST" id="edit_contract_form">
              {% csrf_token %}
              <input type="hidden" name="edit_contract">
              <div class="form-group row">              
                    
                <div class="col-6">
                  <label>Trip Number:</label>
                  <input type="text" name="trip_number" class="form-control" value='{{contract.trip_number}}' >
                </div> -->
                <div class="col-6">
                  <label>Status:</label>
                  <select class="form-control" name="status">
                    <option>{{contract.status}}</option>
                    <option>open</option>
                    <option>closed</option>
                    <option>canceled</option>
                  </select>
                </div>  
              </div> -->
              <!-- Select Customer and Carrier -->
              <div class="row">
                <div class="col-6">
                  <label>Select Customer</label>
                  <select class="form-control" name="customer" >
                    <option value="{{contract.customer.id}}" selected>{{contract.customer.name}}</option>
                    
                    {% for customer in allcustomers %}
                    <option value="{{customer.id}}">{{customer.name}}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="col-6">
                  <label>Select Carrier</label>
                  <select class="form-control" name="carrier">
                    <option value="{{contract.carrier.id}}" selected>{{contract.carrier.name}}</option>
                    {% for carrier in allcarriers %}
                    <option value='{{carrier.id}}'>{{carrier.name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="row contract_modal_mid_header">
                <div class="col-6">
                  <label>Customer Price:</label>
                  <input type="number" step='0.01' name="customer_price" class="form-control" value='{{contract.customer_price}}'>
                </div>
                <div class="col-6">
                  <label>Carrier Cost:</label>
                  <input type="number" step='0.01' name="carrier_cost" class="form-control" value="{{contract.carrier_cost}}">
                </div>
              </div> -->

              <div class="row contract_modal_mid_header">
                <div class="col-6">
                  <div class="row">
                    <div class="col-12 text-center">
                      <h4>Pickup Details</h4>

                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-6">
                      <label>Pickup Date</label>
                      
                      <input type="hidden" id="hidden_pickup_date" name="pickup_date"value='{{contract.pick_up_time}}'>
                      <input class="form-control" id="pickup_date"  type="text" value='{{contract.pick_up_time|date:"m/d/yy"}}'>
                    </div>
                    <div class="col-6">
                        <label>Pickup Time:</label>
                        <input id="timepicker1" class="form-control time_input" value='{{contract.pick_up_time|date:"g:i"}}' name="pickup_time">
                    </div>
                  </div>

                  <div class="row contract_modal_mid_header">
                    <div class="col-12">
                      <input type='hidden' name='pickup_address' value='{{contract.route.start}}'> 
                      <label>Pickup Address:</label>
                      <input type="text" name="pickup_street_address" class="form-control" value='{{contract.route.start.street}}'>
                    </div>
                  </div>
                  <div class="row contract_modal_mid_header">
                    <div class="col-5">
                      <label>City:</label>
                      <input type="text" class="form-control" name="pickup_city" value='{{contract.route.start.city}}'>
                    </div>
                    <div class="col-3">
                      <label>State:</label>
                      <select class="form-control" id="pickup_state" name="pickup_state">
                        <option value='{{contract.route.start.state}}' selected>{{contract.route.start.state}}</option>  
                        <option value="">N/A</option>
                        <option value="AK">Alaska</option>
                        <option value="AL">Alabama</option>
                        <option value="AR">Arkansas</option>
                        <option value="AZ">Arizona</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DC">District of Columbia</option>
                        <option value="DE">Delaware</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="IA">Iowa</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MD">Maryland</option>
                        <option value="ME">Maine</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MO">Missouri</option>
                        <option value="MS">Mississippi</option>
                        <option value="MT">Montana</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="NE">Nebraska</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NV">Nevada</option>
                        <option value="NY">New York</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VA">Virginia</option>
                        <option value="VT">Vermont</option>
                        <option value="WA">Washington</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WV">West Virginia</option>
                        <option value="WY">Wyoming</option>
                      </select>
                    </div>
                    <div class="col-4">
                      <label>Zip:</label>
                      <input type="text" class="form-control" name="pickup_zip_code" value='{{contract.route.start.zip_code}}'>
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <div class="row">
                    <div class="col-12 text-center">
                      <h4>Delivery Details</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <label>Delivery Date:</label>
                      <input type="hidden" id="hidden_delivery_date" name="delivery_date" value='{{contract.delivery_time}}'>
                      <input class="form-control" id="delivery_date" value='{{contract.delivery_time|date:"m/d/yy"}}' type="text" placeholder="mm/dd/yyyy">
                    </div>
                    <div class="col-6">
                      <label>Delivery Time:</label>
                      <!-- <input type="text" class="form-control" name="delivery_time" placeholder="hh:mm"> -->
                      <input id="timepicker2" class="form-control time_input" value='{{contract.delivery_time|date:"g:i"}}' name="delivery_time">
                    </div>
                  </div>
                  <div class="row contract_modal_mid_header">
                    <div class="col-12 ">
                      <input type='hidden' name='delivery_address' value='{{contract.route.end}}'>  
                      <label>Delivery Address:</label>
                      <input type="text" name="delivery_street_address" value='{{contract.route.end.street}}' class="form-control">
                    </div>
                  </div>
                  <div class="row contract_modal_mid_header">
                    <div class="col-5">
                      <label>City:</label>
                      <input type="text" class="form-control" value='{{contract.route.end.city}}'name="delivery_city">
                    </div>
                    <div class="col-3">
                      <label>State:</label>
                      <select class="form-control" id="delivery_state" name="delivery_state">
                        <option value='{{contract.route.end.state}}' selected>{{contract.route.end.state}}</option>
                        <option value="">N/A</option>
                        <option value="AK">Alaska</option>
                        <option value="AL">Alabama</option>
                        <option value="AR">Arkansas</option>
                        <option value="AZ">Arizona</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DC">District of Columbia</option>
                        <option value="DE">Delaware</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="IA">Iowa</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MD">Maryland</option>
                        <option value="ME">Maine</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MO">Missouri</option>
                        <option value="MS">Mississippi</option>
                        <option value="MT">Montana</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="NE">Nebraska</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NV">Nevada</option>
                        <option value="NY">New York</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VA">Virginia</option>
                        <option value="VT">Vermont</option>
                        <option value="WA">Washington</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WV">West Virginia</option>
                        <option value="WY">Wyoming</option>
                      </select>
                    </div>
                    <div class="col-4">
                      <label>Zip:</label>
                      <input type="text" class="form-control" value='{{contract.route.end.zip_code}}'name="delivery_zip_code">
                    </div>
                  </div>
                </div>                        
              </div>
            
              <div class="form-group row contract_modal_mid_header">
                <div class="col-12">
                  <label>Comments:</label>
                  <textarea class="form-control modal_comments" name="comments"></textarea>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                <button class="btn btn-primary btn-md" id="edit_contract_button">Save Contract</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    
    
    <!-- Modal for Archiving a Contract -->
    <div class="modal fade" id="archive_contract" tabindex="-1" role="dialog" aria-labelledby="archiveModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="achiveModal">Archive this contract?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% if contract.archived == True %}
            <div class="modal-body">
              Restoring this contract will remove it from the archives and store it in the contract table. Are you sure you want to proceed?
            </div>
            {% else %}
            <div class="modal-body">
              Archiving this contract will remove it from the contracts table and store it in the archive. Are you sure you want to proceed?
            </div>
            {% endif %}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="/dashboard/archive_contract/{{contract.id}}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="hiddenkey" value="archive">
              {% if contract.archived == True %}
                <button class="btn btn-success">Restore</button>
              {% else %}  
                <button class="btn btn-danger">Archive</button>
              {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
    <!-- Modal for Creating a Comment -->
    <div class="modal fade text-left" id="add_comment" tabindex="-1" role="dialog" aria-labelledby="add_comment_modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="add_comment_modal">Add a Comment</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form enctype="multipart/form-data" action="/dashboard/contract_comment/{{contract.id}}" method="post" id="edit_comment_form">
              {% csrf_token %}
              <input type="hidden" name="hiddenkey" value= "comment">
              <div class="form-group row">
                <div class="col-12">
                  <label>Comments:</label>
                  <textarea class="form-control modal_comments" name="comments"></textarea>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                <button class="btn btn-primary btn-md" id="add_comment_button">Add Comment</button>
              </form>
            </div>
          </div>
        </div>
      </div>




    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      
    <!-- bootstrap.js-->
    <script type="text/javascript" src="{% static 'bootstrap.js' %}"></script>

    <!-- Custom JavaScript -->
    <!-- <script type="text/javascript" src="script.js"></script> -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script>
      $(document).ready(function(){
        $('#pickup_date').datepicker({
            uiLibrary: 'bootstrap4'
        });

        $(document).on("click","button",function(){
          $("#hidden_pickup_date").val($("#pickup_date").val())
        })

        $('#delivery_date').datepicker({
            uiLibrary: 'bootstrap4'
        });
        $(document).on("click","button",function(){
          $("#hidden_delivery_date").val($("#delivery_date").val())
        })

      })
    </script>

    <script>
      $('#timepicker1').timepicker({
          uiLibrary: 'bootstrap4'
      });
    </script>

    <script>
      $('#timepicker2').timepicker({
          uiLibrary: 'bootstrap4'
      });
    </script>
  </body>
</html>
    
</body>
</html>