<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">

    {% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">

    <!-- Custom CSS stylesheet-->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> -->

    <title>Welcome to User Dashboard</title>

    <style>
      .jumbotron {
        margin-top: 10px;
      }
    </style>

  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="/">Contract Manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if request.session.user_id == None %}
        <a class="navbar-nav mr-auto nav-link disabled" href="#"></a>
        <a class="navbar-nav mr-lg-2 nav-link" href="/login">Signin</a>
      {% else %}
        <a class="navbar-nav mr-auto nav-link" href="/dashboard">Dashboard</a>
        <a class="navbar-nav mr-sm-0 nav-link" href="#">{{user.first_name}} {{user.last_name}} (admin)</a>
        <a class="navbar-nav mr-sm-0 nav-link" href="/logout">Logoff</a>
      {% endif %}
      </div>
    </nav>

    <!-- Container -->
    <div class="container">

        <!-- Jumbotron -->
        <div class="jumbotron">
          <h1 class="display-4">Contract Manager</h1>
          <p class="lead">This full-stack application was built with the Django 2.2. web development framework... by Ryan Alumbaugh, Kevin Chancey, Joshua Knallay, and John Stevens</p>
          <hr class="my-4">
          <p>Major features include login and registration, account administration, and a logistics management system.</p>
          <p><a class="btn btn-lg btn-primary" href="/login" role="button">Get Started</a></p>
        </div>

        <!-- Content -->
        <div class="row">
          <div class="col-4">
            <h3>Manage Users</h3>
            <p>With an admin account, you can register new users, remove current users, edit user profiles, and change user permissions.</p>
          </div>
          <div class="col-4">
            <h3>Manage Contracts</h3>
            <p>Create and manage contracts between carriers and customers. Track and update existing contracts.</p>
          </div>
          <div class="col-4">
            <h3>Interactive Data</h3>
            <p>Search and sort data by carrier, customer, route, and contract. Track orders in real time with an interactive map.</p>
          </div>
        </div>
      <!-- </div> -->
    </div>

  
    <!-- jQuery (slim version, sufficient for Bootstrap) -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->

    <!-- jQuery (full version, necessary for ajax) -->
    <script src="{% static 'jquery-3.5.0.js' %}"></script>

    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      
    <!-- bootstrap.js-->
    <script type="text/javascript" src="{% static 'bootstrap.js' %}"></script>

    <!-- Custom JavaScript -->
    <!-- <script type="text/javascript" src="script.js"></script> -->

  </body>
</html>
