<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">

    {% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">

    <!-- Custom CSS stylesheet-->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> -->
    <style>
      .content {
        margin-top: 30px;
      }
      .error_message {
        color: red;
      }

    </style>

    <title>Register</title>

  </head>
  
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="/">Contract Manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if request.session.user_id == None %}
        <a class="navbar-nav mr-auto nav-link disabled" href="/users"></a>
        <a class="navbar-nav mr-lg-2 nav-link" href="/login">Signin</a>
      {% else %}
        <a class="navbar-nav mr-auto nav-link" href="/dashboard">Dashboard</a>
        <a class="navbar-nav mr-sm-0 nav-link" href="#">{{user.first_name}} {{user.last_name}} (admin)</a>
        <a class="navbar-nav mr-sm-0 nav-link" href="/logout">Logoff</a>
      {% endif %}
      </div>
    </nav>
    
    <div class="container">
        <div class="row content">
          <div class="col-6 offset-3 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 ">
            {% if user == "none" %}
            <h1>Register</h1>
            {% else %}
            <h1>Add new user</h1>
            {% endif %}
            
            <form action="/registration" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label>Email Address:</label>
                {% if errors.email %}
                &nbsp<small class="error_message">{{ errors.email }}</small>
                {% endif %}
                <input type="text" class="form-control" name="email">
              </div>
              <div class="form-group">
                <label>First Name:</label>
                {% if errors.first_name %}
                &nbsp<small class="error_message">{{ errors.first_name }}</small>
                {% endif %}
                <input type="text" class="form-control" name="first_name">
              </div>
              <div class="form-group">
                <label>Last Name:</label>
                {% if errors.email %}
                &nbsp<small class="error_message">{{ errors.last_name }}</small>
                {% endif %}
                <input type="text" class="form-control" name="last_name">
              </div>
              <div class="form-group">
                <label>Password:</label>
                {% if errors.password %}
                <small class="error_message">{{ errors.password }}</small>
                {% else %}
                <small>Must be 8 characters long</small>
                {% endif %}
                <input type="password" class="form-control" name="password">
              </div>
              <div class="form-group">
                <label>Confirm Password:</label>
                {% if errors.pw_confirm %}
                &nbsp<small class="error_message">{{ errors.pw_confirm }}</small>
                {% endif %}
                <input type="password" class="form-control" name="pw_confirm">
              </div>
            {% if user != "none" %}
              <div class="form-group row">
                <div class="col-8">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="admin_checkbox" name="admin">
                    <label class="form-check-label" for="admin_checkbox">Admin Account</label>
                  </div>
                </div>
                <div class="col-4 text-right">
                  <button class="btn btn-success btn-md">Create</button>
                </div>
              </div>
            {% else %}
              <div class="form-group text-right">
                <button class="btn btn-success btn-md">Register</button>
              </div>
            {% endif %}
            </form>
          </div>
        </div>
        {% if user == "none" %}
        <div class="row">
          <div class="col-6 offset-3 text-center">
            <a href="/login">Already have an account? Login</a>
          </div>
        </div>
        {% endif %}
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      
    <!-- bootstrap.js-->
    <script type="text/javascript" src="{% static 'bootstrap.js' %}"></script>

    <!-- Custom JavaScript -->
    <!-- <script type="text/javascript" src="script.js"></script> -->

  </body>
</html>
